.unstyled-list
  list-style none
  margin-top 0
  margin-bottom 0
  padding-left 0

.flex-between
  display flex
  justify-content space-between

  @media (max-width: mobile-max)
    flex-direction column

.flex-direction
  display flex
  flex-direction column

.btn
  text-align center;
  border 1px solid transparent;
  padding .7em 40px;





