@import '~normalize-styl/normalize'
@import 'styl/variables'
@import 'styl/mixins'
@import 'styl/extends'
@import 'styl/layouts'

font-face('Montserrat', 'Montserrat-Regular')
font-face('Montserrat', 'Montserrat-Bold', bold)
font-face('Montserrat', 'Montserrat-Italic', normal, italic)

@import 'styl/base'

@import 'styl/components/header'
@import 'styl/components/menu'
@import 'styl/components/widget'
@import 'styl/components/info-block.styl'
@import 'styl/components/footer.styl'
